/*Google font import*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*body*/
body {
    height: 100vh;
    background-image: linear-gradient(rgba(23, 114, 188, 0.5), rgba(255, 255, 255, 1)), url(../images/bible-quiz.png);
    background-size: cover;
    background-position: center center ;
    background-repeat: no-repeat;
    
}

.start-scrn,
.score-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#start-btn,
#restart,
#exit-quiz {
    font-size: 1.33em;
    padding: 0.5em 1.8em;
    box-shadow: 0 20px 30px rgba(0,0,0,0.4);
    border-radius: 0.2em;
    background-color: #ffffff;
}

#restart,
#exit-quiz {
    margin-top: 0.9em;
}

#display-container {
    padding: 3.1em 1.8em;
    background-color: aliceblue;
    width: 50%;
    max-width: 60%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8em;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid darkblue;
}

.timer-div {
    background-color: rgb(248, 241, 241);
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em 1.8em;
}

.question {
    font-weight: 600;
    margin-bottom: 1.25em;
}

.p {
    display: block;
    margin-block-start: 1em ;
    margin-block-end: 1em;
}

.option-div {
    width: 100%;
    font-size: 1em;
    margin: 0.3em 0;
    padding: 0.75em 1em;
    text-align: left;
    background: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 0.3em;
    cursor: pointer;
    display: block; 
}


.option-div:disabled {
    color: #000000;
    cursor: not-allowed;
}

#next-question-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: darkblue;
    color: #ffffff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
    box-shadow: 0 20px 40px rgba(255, 255, 255, 1);
}

.hide {
    display: none;
}

/*Correct option*/
.correct {
    background-color: lightgreen;
    color: green;
    border-color: green;
}

/*Incorrect option*/
.incorrect {
    background-color: orange;
    color: orangered;
    border-color: orangered;
}

#user-score {
    font-size: 1.5em;
    color: #1c1c1c;
}

/*For large screen such as tablets*/
@media screen and (max-width: 780px) {
    #background-image {
        display: flex;
        justify-content: center;
        max-height: 100%;
    }

    #display-container {
        width: 80%;
        max-width: 100%;
        height: auto;
    }
}

/* Small screens from 380px and down */
@media screen and (max-width: 450px) {
    #display-container {
        padding: 2rem 1rem;
        height: auto;
        width: 90%;
        max-width: 100%;
        
        
        
    }
}